<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smallcake.temp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- Google Play 内购权限 -->
    <uses-permission android:name="com.android.vending.BILLING" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TempAndroid"
        tools:targetApi="n">
        <activity
            android:name=".ui.P2PChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            />
        <activity
            android:name=".map.BaiduMapActivity"
            android:exported="false" />
        <activity
            android:name=".ui.NinePatchActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.BannerActivity"
            android:exported="false" />
        <activity
            android:name=".service.ServiceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SvgaActivity"
            android:exported="false" />
        <activity android:name=".coroutines.CoroutinesActivity" />
        <activity android:name=".kotlinflow.KotlinFlowActivity" />
        <activity android:name=".pay.GooglePayActivity" />
        <activity android:name=".ui.SingleVideoPlayActivity" />
        <activity android:name=".music.ExoMusicActivity" />
        <activity android:name=".ui.MusicPlayActivity" />
        <activity android:name=".chart.ChartActivity" />
        <activity
            android:name=".ui.SignActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="签名"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".ui.PdfActivity" />
        <activity android:name=".weight.CameraActivity" />
        <activity android:name=".ui.CameraCustomActivity" />
        <activity android:name=".ui.MoreLayoutListActivity" />
        <activity
            android:name=".ui.VideoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="fullSensor" />
        <activity android:name=".ui.DownloadDataActivity" />
        <activity android:name=".ui.CountDownListActivity" />
        <activity android:name=".ui.ShapeViewActivity" />
        <activity android:name=".ui.CustomCaptureActivity" />
        <activity android:name=".ui.TextViewActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.SafeGoRoundHistoryInfoActivity" />
        <activity android:name=".ui.MainFragmentsActivity" />
        <activity android:name=".ui.RecordActivity" />
        <activity android:name=".TestActivity" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepath_data" />
        </provider>

        <activity android:name=".ui.SignListActivity" />
        <activity android:name=".ui.ReportRepairActivity" />
        <activity android:name=".map.LocationMapActivity" />
        <activity android:name=".ui.MainMiddleOutActivity" />
        <activity android:name=".ui.CitySelectActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 高德地图【开始】 -->
        <service android:name="com.amap.api.location.APSService" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="937f5f48be1d2b39c1af407482e59ac5" />
        <!-- 高德地图【结束】 -->

        <!-- 百度地图【开始】 -->
            <meta-data
                android:name="com.baidu.lbsapi.API_KEY"
                android:value="Z3rtL0suA30NVpa7Cz7jOVgXGfO14MfM" />
            <service android:name="com.baidu.location.f"
                android:enabled="true"
                android:process=":remote"/>
        <!--百度地图【结束】 -->

        <!-- 配置Facebook 【开始】 -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity> <!-- tbs优化服务：该Service仅在TBS内核首次Dex加载时触发并执行dex2oat任务，任务完成后自动结束 -->
        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" /> <!-- 极光推送 开始 -->
        <service
            android:name=".jpush.JPushService"
            android:enabled="true"
            android:exported="true"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

        <receiver
            android:name=".jpush.JPushReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver> <!-- 极光推送 结束 -->
        <!-- 音乐播放 开始 -->
        <service
            android:name=".music.MusicService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service> <!-- 音乐播放 结束 -->
        <!-- GooglePay 开始 -->
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" /> <!-- GooglePay 结束 -->
        <!-- RoomService 开始 -->
        <service android:name=".service.RoomService" />
    </application>

</manifest>